body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
.container{
   max-width: 450px;
   min-height: 100px;
   margin: 0 auto;
   box-shadow: 0 0 10px -2px black;
   margin-top: 50px;
   padding: 15px 50px;
  
   
}

.text_center{
  font-size: 2rem;
   font-family: 'Nunito', sans-serif;
   background-color: green;
   color: white;
   text-align: center;
   box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.4);
   border-radius: 9px;
   
}
.expense_container{
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.4);
  
}
.Transaction_form{
  display: block;
  margin-top: -10px;
}
div{
  display: block;
}
label{
  display: inline-block;
  margin: -20px 0;
  font-weight: 600;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
}
h3{
 text-transform: uppercase;
 font-size: 1rem;
 
}
.border{
  border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 10px 0 10px;
    text-transform: capitalize;
    font-size: 1.3rem;
}
.bottom{
  border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 20px 0 10px;
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 1.3rem;
}
.big-txt{
  font-size: 1.8rem;
}

.IandE{
  text-align: center;
  
}

.btn, input[type=number], input[type=text]{
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;

}
input[type=number], input[type=text]{
  border: 1px solid #dedede;
  box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.2);
    outline: 0;
    margin: 0 0 15px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
}
.btn{
  
    font-size: 18px;
    margin: -10px 0 5px;
    outline: 0;
    border: 0;
    background-color:gray;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 700;
    box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.4);
    font-family: 'Nunito', sans-serif;
}
.btn:hover{
  background: white;
  color: deepskyblue;
 box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
 font-size: 18px;
 font-family: 'Nunito', sans-serif;
}
.income-h3{
  color: #2ecc71;
}
.expense-h3{
  color: red;
}
.hist-div{
  margin: 0;
  padding: 0;
}

.hist-div > li {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
  padding: 10px 15px;
  margin: 10px 0;
  
}

.cash{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
 
}
#deleteBtn{
  transition: all 0.3s ease-in-out;
  margin-right: 5px;
}
#deleteBtn:hover{
  
  color: red;
}
